#### Loading the dataset

In [12]:
# importing the necessary dependencies
import pandas as pd
import numpy as np

In [13]:
# loading the Dataset
dataset = pd.read_csv('world_population.csv', index_col=0)

In [14]:
# looking at the first two rows of the dataset
dataset[0:2]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

---

#### Mean

In [15]:
# Select only numeric columns
numeric_data = dataset.select_dtypes(include=[np.number])

# Calculate the mean of the third row of the numeric data
mean_third_row = numeric_data.iloc[2].mean()

print(mean_third_row)

25.37337870015289

In [16]:
# calculate the mean of the last row
# Select only numeric columns
numeric_data = dataset.select_dtypes(include=[np.number])

# Calculate the mean of the last row of the numeric data
mean_last_row = numeric_data.iloc[-1].mean()

print(mean_last_row)

24.520531613145806

In [17]:
# calculate the mean of the country Germany
numeric_data.loc[["Germany"]].mean(axis=1)

Country Name
Germany    227.773688
dtype: float64

---

#### Median

In [18]:
# calculate the median of the last row
numeric_data = dataset.select_dtypes(include=[np.number])

# Calculate the median of the last row of the numeric data
median_last_row = numeric_data.iloc[-1].median()

print(median_last_row)

25.5054310456249

In [19]:
# calculate the median of the last 3 rows
numeric_data[-3:].median(axis=1)

Country Name
Congo, Dem. Rep.    14.419050
Zambia              10.352668
Zimbabwe            25.505431
dtype: float64

In [20]:
# calculate the median of the first 10 countries

# Select the first 10 rows
first_10_rows = dataset.head(10)

# Select only numeric columns from the first 10 rows
numeric_data_first_10 = first_10_rows.select_dtypes(include=[np.number])

# Calculate the median for each row in the first 10 rows of the numeric data
median_first_10_rows = numeric_data_first_10.median(axis=1)

print(median_first_10_rows)

Country Name
Aruba                   348.022222
Andorra                 107.300000
Afghanistan              19.998926
Angola                    8.458253
Albania                 106.001058
Arab World               15.307283
United Arab Emirates     19.305072
Argentina                11.618238
Armenia                 105.898033
American Samoa          220.245000
dtype: float64

---

#### Variance

In [21]:
# calculate the variance of the last 5 columns
# Select only numeric columns
numeric_columns = dataset.select_dtypes(include=[np.number])

# Calculate the variance for each numeric column and display the last 5 variances
variance_last_5 = numeric_columns.var().tail()

print(variance_last_5)

2012    3.063475e+06
2013    3.094597e+06
2014    3.157111e+06
2015    3.220634e+06
2016             NaN
dtype: float64

---

In [22]:
# NumPy Pandas interoperability
import numpy as np

print("Pandas", dataset["2015"].mean())
print("NumPy", np.mean(dataset["2015"]))

Pandas 368.70660104001837
NumPy 368.70660104001837